<template lang="pug">
	div
		header
			nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
				a(class="navbar-brand" href="#")
				b-button(class="theme-button d-none d-sm-block") создать документ
				button(class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation")
					span(class="navbar-toggler-icon")
				div(class="collapse navbar-collapse" id="nav-menu")

		div(class="container-fluid")
			div(class="row")
				navigation
				main(role="main" class="main col-sm-12 ml-sm-auto pt-3")
					router-view
</template>
<script>
	import Vue from 'vue';
	import navigation from './Menu.vue';

	export default {
		name: 'App',
		components: {navigation},
		mounted() {
			console.log('Start')
		}
	}
</script>
<style lang="scss">
	@import "../scss/main.scss";
</style>