<template lang="pug">
	div
		h1 Контрагенты
		b-col(lg="12")
			b-row
				div(class="panel")
					b-button-toolbar(key-nav  aria-label="Toolbar with button groups")
						b-button-group
							b-btn(class="filter btn-outline-secondary") Фильтр
							b-form-input(name="search" v-model="filter" type="text" placeholder="Поиск поставщика")
							b-btn(class="add" v-on:click="addShow") Создать
							b-btn(class="btn-outline-success") Скачать в Excel
					b-table( class="mb-0" bordered hover :items="items" :filter="filter" :fields="fields")
</template>
<script type="text/javascript">
	export default {
		name: 'Contragent',
		data() {
			return {
				fields: {
					name: {label: 'Наименование'},
					phone: {label: 'Телефон'},
					email: {label: 'E-mail'},
					added: {label: 'Добавил'},
					updated: {label: 'Обновлен'},
					created: {label: 'Создан'}
				}
			}
		},
		mounted() {

		}
	}
</script>