<template lang="pug">
	div
		h1 Главная
		b-col(cols="12" class="pb-3")
			div(class="panel")
				h2(class="p-3") Показатели за месяц по всем магазинам
				b-row
					b-col(cols="3")
						b-list-group
							b-list-group-item(active) Выручка
							b-list-group-item(href="#") Себестоимость продаж
							b-list-group-item(href="#") Прибыль
							b-list-group-item(href="#") Средний чек
					b-col(cols="9")
						vue-chartist(:data="data" :options="options" type="Line")
		b-col(cols="12")
			b-row
				b-col(cols="6")
					div(class="panel")
						h2(class="p-3") Документы
				b-col(cols="6")
					div(class="panel")
						h2(class="p-3") Предстоящие события
</template>

<script>
	import VueChartist from 'v-chartist';

	export default {
		name: 'Main',
		components: {
			VueChartist
		},
		data() {
			return {
	            data: {
	                labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
	                series: [
	                    [1, 9, 7, 8, 5,12, 9, 7, 8, 5]
	                ]
	            },
	            options: {
	            	height: 450,
	                fullWidth: true,
	                chartPadding: {
	                    right: 80
	                },
	                low: 0,
	                showArea: true
	            }
	        }
		},
		mounted() {

		}
	}
</script>