<template lang="pug">
	nav(class="d-none d-sm-block bg-light sidebar")
		ul(class="nav nav-pills flex-column")
			li(v-for="item in items" class="nav-item")
				div(class="nav-link parent" v-on:click="open" v-bind:class="{active: parentactive(item.link)}" v-if="item.items.length") {{item.name}}
					ul(class="pb-2")
						li(v-for="second in item.items")
							b-link(v-bind:to="second.link" active-class="") {{second.name}}
				b-link(v-bind:to="item.link" v-else class="nav-link" active-class="") {{item.name}}
					span(class="sr-only" v-if="item.link.indexOf(active) != -1") (current)
</template>
<script type="text/javascript">
	export default
	{
		name: 'navigation',
		data() {
			return {
				items: [
					{
						name: 'Главная',
						link: '/',
						items: []
					},
					{
						name: 'Товары и услуги',
						link: '/products/',
						items: []
					},
					{
						name: 'Движение товара',
						link: '/movement/',
						items: []
					},
					{
						name: 'Движение денег',
						link: '/tranzactions/',
						items: []
					},
					{
						name: 'Отчеты',
						link: '/reports/',
						items: []
					},
					{
						name: 'Контрагенты',
						link: '/contragents/',
						items: [
							{
								name: 'Поставщики',
								link: '/contragents/providers/'
							},
							{
								name: 'Клиенты',
								link: '/contragents/clients/'
							}
						]
					},
					{
						name: 'Компания',
						link: '/stores/',
						items: [
							{
								name: 'Настройки',
								link: '/stores/settings/'
							},
							{
								name: 'Магазины',
								link: '/stores/'
							},
							{
								name: 'Счета',
								link: '/stores/score/'
							}
						]
					},
					{
						name: 'Интернет и витрина',
						link: '/web/',
						items: []
					}
				]
			}
		},
		computed: {
			active () {
			  return this.$route.path;
			}
		},
		mounted() {

		},
		methods: {
			open(event){
				$(event.target).find('ul').slideToggle();
			},
			parentactive(item) {
				if(this.$route.path.indexOf(item) != -1)
					return true;
				
				return false;
			}
		}
	}
</script>