<template lang="pug">
	div
		h1 Движение товара
		b-col(lg="12")
			b-row
				div(class="panel")
					b-button-toolbar(key-nav  aria-label="Toolbar with button groups")
						b-button-group
							b-btn(class="filter btn-outline-secondary") Фильтр
					b-table( class="mb-0" bordered hover :items="items" :filter="filter" :fields="fields")
</template>
<script type="text/javascript">
	export default {
		name: 'Movement',
		data() {
			return {
				fields: {
					'type': {label: 'Статус'},
					'document': {label: 'Документ'},
					'datetime': {label: 'Время'},
					'positions': {label: 'Позиции'},
					'sum': {label: 'Сумма, руб'},
					'payed': {label: 'Оплачено, руб'},
					'sender': {label: 'Отправитель'},
					'reciever': {label: 'Получатель'},
					'author': {label: 'Автор'}
				},
				items: [
					{
						'type': 'buy',
						'document': 'Закупка #1',
						'datetime': '19:00',
						'positions': 2,
						'sum': 100000,
						'payed': 100000,
						'sender': 'ЗАО ИНТЕЛПРО',
						'reciever': 'Мой магазин',
						'author': 'Базаров Кирилл Леонидович'
					}
				]
			}
		},
		mounted() {
			
		}
	}
</script>