<template lang="pug">
	div
		h1 Товары и услуги
		b-col(lg="12")
			b-row
				div(class="panel")
					b-button-toolbar(key-nav  aria-label="Toolbar with button groups")
						b-button-group(class="w-100")
							b-btn(class="filter btn-outline-secondary" id="filter") Фильтр
							b-btn(class="add" v-on:click="addShow") Добавить товар
							b-form-input(name="search" v-model="filter" type="text" placeholder="Поиск по названию товара, штрих-коду или артикулу")
							b-form-input(v-model="text1" type="text" id="selected" placeholder="С отмеченными" :formatter="format")
							b-btn(class="btn-outline-success") Импорт товаров
					b-table( class="mb-0" bordered hover :items="items" :filter="filter" :fields="fields")
						template(slot="selected" slot-scope="row")
							b-form-checkbox(v-model="row.value" value="true" unchecked-value="false")
		b-popover(target="filter" triggers="click" placement="rightbottom" container="myContainer" ref="popover")
			template(slot="title") Фильтр
				b-button(class="theme-button") применить
			div
				b-form-checkbox-group(id="filter-fields" name="fields" stacked v-model="selected_filters" :options="options")
		b-popover(target="selected" triggers="click" placement="rightbottom" container="myContainer" ref="popover")
			template(slot="title")
				b-button(:variant="'link'") скачать в excel
			div
				h6 Работа с группой товаров
				b-button(:variant="'link'") Создать документ
				b-button(:variant="'link'") Удалить
		add-product
</template>
<script type="text/javascript">
	import addProduct from './ProductsAdd';

	export default {
		name: 'Products',
		components: {addProduct},
		data() {
			return {
				fields: {
					'selected': {label: ' '},
					'name': {label: 'Наименование'},
					'code': {label: 'Штрих-код'},
					'timelimit': {label: 'Срок годности'},
					'category': {label: 'Категория'},
					'baseprice': {label: 'Базовая цена, руб'},
					'discount': {label: 'Скидка, %'},
					'store': {label: 'Мой магазин'},
					'store2': {label: 'Магазин 2'},
					'count': {label: 'Остатки'}
				},
				selected_filters: [],
				options: [
					{text: 'Категория', value: 'category'},
					{text: 'Тип', value: 'type'},
					{text: 'Цена', value: 'baseprice'},
					{text: 'Остатки', value: 'count'},
					{text: 'Скрыть нулевые остатки',value: 'null-hidden'}
				],
				items: [
					{
						'selected': true,
						'name': 'Моноблок Apple IMac',
						'code': '3232122454',
						'timelimit': 5,
						'category': 'Компьютеры и комплектующие',
						'baseprice': 170000,
						'discount': 0,
						'store': 2,
						'store2': 5,
						'count': 7
					},
					{
						'selected': true,
						'name': 'Моноблок Apple IMac',
						'code': '3232122454',
						'timelimit': 5,
						'category': 'Компьютеры и комплектующие',
						'baseprice': 170000,
						'discount': 0,
						'store': 2,
						'store2': 5,
						'count': 7
					},
					{
						'selected': true,
						'name': 'Моноблок Apple IMac',
						'code': '3232122454',
						'timelimit': 5,
						'category': 'Компьютеры и комплектующие',
						'baseprice': 170000,
						'discount': 0,
						'store': 2,
						'store2': 5,
						'count': 7
					}
				],
				filter: null,
			}
		},
		mounted() {
			console.log('start');
		},
		methods: {
			addShow: function()
			{
				$('.add-product').toggleClass('fade in');
			},
			save: function()
			{

			}
		}
	}
</script>