<template lang="pug">
	div(class="add-product")
		b-button-group(class="rule p-3 w-100")
			b-btn(class="back btn-outline-secondary mr-4 rounded-0" v-on:click="hide")
			b-btn(class="save btn-success" v-on:click="save") Сохранить товар
		b-form(class="col-sm-12 p-4")
			h2 Создание товара
			b-form-group(id="nameGroup" label="Наименование" label-for="addName" description="")
				b-form-input(id="addName" class="rounded-0" type="text" required placeholder="Введите название")
			b-form-group(id="codeGroup" label="Штрихкод" label-for="addCode" description="")
				b-form-input(id="addCode" class="rounded-0" type="text" required placeholder="")
			b-form-group(id="articulGroup" label="Артикул" label-for="addArticul" description="")
				b-form-input(id="addArticul" class="rounded-0" type="text" required placeholder="")
</template>
<script type="text/javascript">
	export default {
		name: 'add-product',
		mounted() {

		},
		methods: {
			hide: function(){
				$('.add-product').toggleClass('fade in');
			}
		}
	}
</script>