<template lang="pug">
	div
		h1 Выберите тип отчета
		b-col(lg="12")
			b-row
				b-col(lg="2" v-for="(item, index) in reports" v-bind:key="index")
					b-card( v-bind:title="item.name" tag="report" class="mb-2")
						b-button(href="#" variant="primary") Сформировать
</template>
<script type="text/javascript">
	export default {
		name: 'Report',
		data() {
			return {
				reports: [
					{
						name: 'Продажи по товарам'
					},
					{
						name: 'Продажи по категориям'
					},
					{
						name: 'Продажи по комплектам'
					},
					{
						name: 'Продажи по дням'
					},
					{
						name: 'Продажи по неделям'
					},
					{
						name: 'Продажи по месяцам'
					},
					{
						name: 'Отчет по движению'
					},
					{
						name: 'Отчет по агентам'
					},
					{
						name: 'Финансовый отчет'
					},
					{
						name: 'Отчет по сотрудникам'
					}
				]
			}
		},
		mounted() {

		}
	}
</script>