<template lang="pug">
	div
		h1 Компания/Магазины
		b-col(lg="12")
			b-row
				div(class="panel")
					b-button-toolbar(key-nav  aria-label="Toolbar with button groups")
						b-button-group
							b-btn(class="add") Добавить магазин
</template>
<script type="text/javascript">
	export default {
		name: 'Store',
		data() {
			return {

			}
		},
		mounted() {

		}
	}
</script>