<template lang="pug">
	div
		h1 Движение денег
		b-col(lg="12")
			b-row
				div(class="panel")
					b-button-toolbar(key-nav  aria-label="Toolbar with button groups")
						b-button-group
							b-btn(class="filter btn-outline-secondary") Фильтр
					b-table( class="mb-0" bordered hover :items="items" :filter="filter" :fields="fields")
</template>
<script type="text/javascript">
	export default {
		name: 'Tranzaction',
		data() {
			return {
				fields: {
					'type': {label: 'Статус'},
					'type': {label: 'Ордер'},
					'datetime': {label: 'Время'},
					'positions': {label: 'Позиции'},
					'income': {label: 'Приход, руб'},
					'consumption': {label: 'Расход, руб'},
					'contragent': {label: 'Контрагент'},
					'check': {label: 'Счет'},
					'author': {label: 'Автор'}
				}
			}
		},
		mounted() {

		}
	}
</script>