
// Body
$logo: '../assets/img/logo.png';
$body-bg: #fff !important;

//Colors
$theme-red: #e10419 !important;
$theme-red-dark: #d20419 !important;
$theme-purpur: #2b2d42 !important;
$theme-purpur-dark: #26283b !important;
$theme-purpur-light: #a1a3bc !important;
$theme-gray-light: #fafcfc !important;
$theme-green-light: #00bb36 !important;
$theme-green-dark: #28a745 !important;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

//Navbar
$navbar-icons: '../assets/img/nav.png';
$navbar-icons-hover: '../assets/img/nav-light.png';