
@import './_variables.scss';

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  background: $theme-gray-light;
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: $theme-purpur;
}

button {
  font-weight: bold !important;
  font-size: $font-size-base;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:active {
    box-shadow: none !important;
  }
}

input {
  border-radius: 30px !important;
  
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &[name=search] {
    padding-left: 40px;
    background: url('../assets/img/search.png') 10px 50% no-repeat;
  }
}

.main {
  flex: 0 0 calc(100% - 200px);
}

.btn-outline-success {
  color: $theme-green-light;
  border-color: $theme-green-light; 

  &:hover {
    background-color: $theme-green-light;
    color: #fff !important;
  }
}

.btn-success {
  background: $theme-green-light;
  background-color: $theme-green-light;
  border-color: $theme-green-light;

  &:hover {
    background-color: $theme-green-dark;
  }
}

.panel {
  width: 100%;
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  width: 200px;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: $theme-purpur;

  .nav {
    margin-bottom: 20px;

    a {
        color: $theme-purpur-light;
    
        &:hover {
          background-color: $theme-purpur-dark;
        }
    }

  }
  .nav-item {
    width: 100%;
    color: $theme-purpur-light;

    &:nth-child(1) {
      .nav-link {
        &:before {
          background-position: 0 0;
        }
      }
    }
    &:nth-child(2) {
      .nav-link {
        &:before {
          background-position: 45px 0;
        }
      }
    }
    &:nth-child(3) {
      .nav-link {
        &:before {
          background-position: 90px 0;
        }
      }
    }
    &:nth-child(4) {
      .nav-link {
        &:before {
          background-position: 135px 0;
        }
      }
    }
    &:nth-child(5) {
      .nav-link {
        &:before {
          background-position: 180px 0;
        }
      }
    }
    &:nth-child(6) {
      .nav-link {
        &:before {
          background-position: 225px 0;
        }
      }
    }
    &:nth-child(7) {
      .nav-link {
        &:before {
          background-position: 270px 0;
        }
      }
    }
    &:nth-child(8) {
      .nav-link {
        &:before {
          background-position: 315px 0;
        }
      }
    }
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
  .nav-link {
    border-radius: 0;
    line-height: 45px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 55px;
    position: relative;

    &.parent {
      cursor: pointer;

      &:hover {
        background-color: $theme-purpur-dark;
      }
      &:hover {
        &:before {
          background-color: $theme-red;
          background-image: url($navbar-icons-hover);
        }
      }
    }
    &.active {
      background-color: $theme-purpur-dark;

      &:before {
        background-color: $theme-red;
        background-image: url($navbar-icons-hover);
      }
    }
    &:hover {
      &:before {
        background-color: $theme-red;
        background-image: url($navbar-icons-hover);
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 100%;
      background-color: $theme-purpur-dark;
      background-image: url($navbar-icons);
      background-repeat: repeat-x;
    }
    ul {
      padding-left: 0;
      list-style: none;
      display: none;

      li {
        line-height: 20px;
        text-transform: initial;
      }
    }
  }
}


/*
 * Dashboard
 */

.navbar {
  height: 50px;
  padding: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
  background: $body-bg;

  .theme-button {
    height: 50px;
    width: 200px;
  }
}
.navbar-dark {

  .navbar-toggler-icon {
    filter: brightness(0);
    -webkit-filter: brightness(0);
  }
}
.navbar-brand {
  width: 200px;
  padding: 15px 25px 15px;
  height: 100%;
  margin: 0;
  background: url($logo) 50% 50% no-repeat;
}

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;

  img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.theme-button {
  background-color: $theme-red;
  border: none !important;
  border-radius: 0 !important;
  color: #fff;
  font-weight: bold !important;
  font-size: $font-size-base;
  text-transform: uppercase;
  cursor: pointer;
  font-size: $font-size-base;

  &:focus {
    outline: none !important;
    box-shadow: none;
  }
  &:active {
    box-shadow: none !important;
  }
  &:hover {
    background-color: $theme-red-dark;
  }
}

.add {
  position: relative;
  padding: 0 20px 0 30px;
  text-transform: inherit;
  vertical-align: middle;
  font-weight: inherit !important;

  &:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 16px;
    width: 10px;
    height: 2px;
    background: #fff;
  }
  &:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 20px;
    width: 2px;
    height: 10px;
    background: #fff;
  } 
}

.add-product {
  position: fixed;
  top: 0;
  right: -800px;
  background: #fff;
  width: 800px;
  height: 100%;
  z-index: 1031;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

  -webkit-transition: right 0.3s ease-out;
  -moz-transition: right 0.3s ease-out;
  -o-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out;

  &.fade {
    opacity: 1;

    &.in {
      right: 0;
    }
  }
  .rule {
    border-bottom: 1px solid #868e96;

    .back {
      position: relative;
      width: 2.5em;

      &:before {
        content: '';
        position: absolute;
        top: 1.25em;
        left: 0.8em;
        width: 0.7em;
        height: 2px;
        background: #868e96;
        transform: rotate(45deg);
      }
      &:after {
        content: '';
        position: absolute;
        top: 0.8em;
        left: 0.8em;
        width: 0.7em;
        height: 2px;
        background: #868e96;
        transform: rotate(-45deg);
      }
      &:hover {
        &:before {
          background: #fff;
        }
        &:after {
          background: #fff;
        }
      }
    }
  }

}

.btn-toolbar {
  padding: 15px 20px 20px;
}

.ct-series-a .ct-line {
  stroke: #e31528;
  stroke-width: 5px;
}
.v-chartist-container svg {
  fill: #f2939c;
}



@import './media.scss';